.main{
    background-image: url(../../images/back.jpg);
    background-size: 100% 35rem;
    background-repeat: no-repeat;
}
.navbar{
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35rem;
    margin-bottom: 5rem;
}

.l-nav{
    flex: 3;
    display: flex;
    margin-left: 25px;
    
}
.logo{

    width: 250px;
    height: 95px;
}
.right-list{
 display: flex;
 align-items: center;
 right: 15rem;
position: relative;
}
.right-list>a{
    text-decoration: none;
    cursor: pointer;
}
.right-list>a>li{
    margin-top: 3rem;
    gap: 3rem;
    margin-right: 5rem;
    color: whitesmoke;
    list-style: none;
    font-weight: 600;
    font-size:25px ;
}
.right-list>a>li:nth-child(2){
    margin-left: 10rem;
}

.list:hover{
 color: rgb(213, 178, 23);
}