.main-midSec{
    margin-top: 8px;
}
.heading{
    text-align: center;
    margin: 10px 0px;
}
.mid-content{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: absolute;
width: 70%;
height: 85%;
border-radius: 10px;
background: #f4f4a2;
mix-blend-mode: normal;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
margin-left: 16rem;
margin-top: 5px;
}
.left-content{
    flex: 3;
    margin: 9px 2px 1px 12px;
    position: relative;
top: 11rem;
left: 12rem;
}
.photo{
    position: absolute;
width: 280px;
height: 260px;
mix-blend-mode: normal;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 12px;

}
.r-content{
    position: relative;
    top: 3rem;
    right: 12rem;
    margin-bottom: 10px;
}
.pair{
    margin: 15px 0px;
}
.tittle{
    font-family: 'Inter';
color:rgba(18, 17, 17, 1);
mix-blend-mode: normal;
margin-bottom: 6px;
font-weight: 600;
font-size: 23px;
}

.response{
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
line-height: 12px;
color: #3672CC;
margin-top: 3px;
font-size: 18px;
}
.icons{
    margin-top: 15px;
}
.icons>a{
    text-decoration: none;
    color: rgb(44, 43, 43);
}
.icon-img{
   margin-left: 8px;
}
.icon-img:hover{
    font-size: 35px;
}